@tailwind base;
@tailwind components;
@tailwind utilities;

.jazmin {
  font-family: 'Jazmin';
  line-height: 46px;
}

.inter {
  font-family: 'Inter', sans-serif;
}
.grad-main {
  background: var(--gg, linear-gradient(85deg, #FEED74 -2.55%, #DEB237 23.24%, #8F5E01 47.07%, #D6AA2D 77.64%, #FEED74 106.45%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad-main-2 {
  background: var(--gg, linear-gradient(85deg, #FEED74 -2.55%, #DEB237 23.24%, #8F5E01 47.07%, #D6AA2D 77.64%, #FEED74 106.45%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.grad-main-bg {
  background: linear-gradient(85deg, #FEED74 -2.55%, #DEB237 23.24%, #8F5E01 47.07%, #D6AA2D 77.64%, #FEED74 106.45%);
}
.grad-main-bg-2 {
  background: var(--0, linear-gradient(217deg, #0038B8 -1.28%, #3371FF 95.02%, #3371FF 113.62%));
}
.grad-secondary {
  background: linear-gradient(217deg, #0038B8 -1.28%, #3371FF 95.02%, #3371FF 113.62%);
}
.bg {
  background-image: url("../../public/images/bg.webp")
}
.bg-2 {
  background-image: url("../../public/images/bg5.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .border-grad {
  border: 10px solid; ou qualquer largura desejada para a borda
    background: linear-gradient(85deg, #FEED74 -2.55%, #DEB237 23.24%, #8F5E01 47.07%, #D6AA2D 77.64%, #FEED74 106.45%) 1;
} */

@media (max-width: 500px) {
  .jazmin {
    font-family: 'Jazmin';
    line-height: 32px;
  }
}